<footer>
    <div>
        Copyright &copy; TITANIUM339
        <%= year %>
    </div>
    <div>
        <a href="https://github.com/TITANIUM339" target="_blank">
            <img src="/github.svg" alt="github" />
        </a>
    </div>
</footer>
