<header>
    <div class="logo">
        <a href="/">Mini Messaging Board</a>
    </div>
    <nav>
        <div class="link">
            <a href="/new">Message</a>
        </div>
    </nav>
</header>
